AUTH_REQUIRED=
CORS_ORIGIN=
DATABASE_URL=
FRONTEND_URL=
JWT_EXPIRES_IN=
JWT_SECRET=
LOG_LEVEL=
VITE_API_URL=
VITE_APP_TITLE=
VITE_CONTACT_EMAIL=
VITE_LOGO_URL=
VITE_ORG_LOCATION=
VITE_ORG_NAME=
VITE_ORG_SHORT_NAME=
VITE_ORG_TYPE=
VITE_PRIMARY_COLOR=