# API
PORT=4000
CORS_ORIGIN=http://localhost:5173

# Database
# Formato: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?schema=public
DATABASE_URL="postgresql://sju:sju@localhost:5432/sju_dev?schema=public"
